.sBackground {
    width: 400px;
    height: 2000px;
    border: 25px solid rgba(0, 136, 255, 0.64);
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}